{% extends 'layout.html' %}
{% block header %}
{% set blog = 1 %}
	<!--Надо прописать теги title и description (как в образце) -->
 	<title>Как оформить визу в Украину онлайн</title> 	
	<meta name="description" content="Виза в Украину дает право въезжать на территорию этого государства гражданам ряда стран в качестве туристов, в личных и бизнес-целях, для лечения, участия в культурных, научных, образовательных или спортивных мероприятиях. Сегодня у соискателей визы, есть прекрасная возможность подать документы и получить разрешение на въезд в Украину онлайн.">
	<link rel="stylesheet" href="style.css">
{% endblock %}
{% block content %}
	<main>
		<!-- Поместить изображение в начале раздела body  -->
		<img src="visa.webp" alt="" width="2000" height="1333">
		<h1>Как оформить визу в Украину онлайн?</h1>
		<p> Виза в Украину дает право въезжать на территорию этого государства гражданам ряда стран в качестве туристов, в личных и бизнес-целях, для лечения, участия в культурных, научных, образовательных или спортивных мероприятиях. Сегодня у соискателей визы, есть прекрасная возможность подать документы и получить разрешение на въезд в Украину онлайн
			<a href="http://evisa.mfa.gov.u" rel="nofollow">на сайте</a> — быстро и просто.
		</p>
		<p>В этом материале мы расскажем, как получить визу в Украину, в течение какого периода времени она оформляется, и какой пакет документов нужно предоставить. Также вы узнаете, как сделать фото на визу в Украину онлайн всего за несколько секунд.</p>
		<h3>Содержание</h3>
		<ul>
			<li><a href="#section1">Получение визы в Украин</a></li>
			<li><a href="#section2">Документы для оформления электронной визы в Украину</a></li>
			<li><a href="#section3">Требования к фото на визу в Украину</a></li>
			<li><a href="#section4">Где сделать фото на визу Украины за пару секунд?</a></li>
		</ul>
		<section id="section1">
			<h2>Получение визы в Украину</h2>
			<p>Жители 60 стран вправе посещать страну на период до 90 дней в течение любого срока из 180 дней.</p>
			<p>Обратите внимание: в связи с ухудшением взаимоотношений между странами россиянам для посещения Украины нужна причина. Это может быть:</p>
			<ul>
				<li>Состояние здоровья или смерть смерть родственника.</li>
				<li>Наличие приглашения в Украину, сделанное частным или юридическим лицо (это может быть общественная организация).</li>
				<li>Актуальный договор о трудоустройстве на территории страны.</li>
				<li>Разрешение на проживание.</li>
			</ul>
			<p>Если ранее граждане России предъявляли на границе внутренний паспорт и могли в течение полугода находиться в Украине до 3 месяцев, то теперь для этого требуется подтвержденное основание, а также загранпаспорт.</p>
			<p>Виза в Украину для россиян не нужна. Однако, имея загранпаспорт и причину пребывания в стране, гражданин РФ вправе находиться в Украине не более 3 месяцев.</p>
		</section>	
		<section id="section2">
			<h2>Документы для оформления электронной визы в Украину</h2>
			<p>Чтобы онлайн получить визу для въезда в Украину онлайн, нужно заполнить анкету 
				<a href="visa.mfa.gov.ua" rel="nofollow">на сайте</a> и загрузить следующие отсканированные документы вместе с заполненной анкетой:
			</p>
			<ul>
				<li>Фото.</li>
				<li>Паспорт.</li>
				<li>Полис медстрахования.</li>
				<li>Документ, подтверждающий наличие достаточного количества денежных средств.</li>
				<li>Документ, который подтверждает цель поездки (например, приглашение от гражданина Украины или юрлица, подтверждение владения недвижимостью в Украине, подтверждение родства с резидентом страны и т. д.).</li>
			</ul>
			<p>Для оформления визы в Украину вам нужно заплатить консульский сбор в размере $85. После совершения вышеуказанных действий вы получите e-mail с подтверждением завершения подачи заявления на украинскую визу. Его рассматривают в течение 9 дней.</p>
		</section>
		<section id="section3">
			<h2>Требования к фото на визу в Украину</h2>
			<p>Для подачи заявления на визу онлайн потребуются две фотографии. Снимки должны соответствовать следующим критериям:</p>
			<ul>
				<li>Размер фото на визу составляет 30 х 40 мм.</li>
				<li>Разрешение 600 dpi.</li>
				<li>Высота головы 31 мм.</li>
				<li>Расстояние от верхней части фото до верхней части волос 2,5 мм.</li>
				<li>Ретушь и фотошоп на фото визы в 2022 году строго запрещены.</li>
			</ul>
			<p>Другие требования касаются внешнего вида заявителя и являются стандартными. А именно:</p>
			<ul>
				<li>Необходимо выбирать одежду темных тонов, чтобы сыграть на контрасте и не слиться с фоном фото на визу.</li>
				<li>На заявителе не должно быть головных уборов. Исключение – религиозная.</li>
				<li>Женщинам стоит отказаться от яркого кричащего макияжем и всего того, что может затруднить идентификацию личности.</li>
			</ul>
		</section>
		<section id="section4">
			<h2>Где сделать фото на визу Украины за пару секунд?</h2>
			<p>Мы предлагаем воспользоваться сервисом Visafoto и оценить его удобство в использовании. Сервис хранит данные о фото на все типы виз в разные страны, включая Украину.</p>
			<!-- {% set countrySelected = 'UA' %}
			{% set userDocType = 'ua_visa_online' %}
			{% set uploaderSrcImg = '/img/source355x388.jpg' %}
			{% set uploaderResImg = '/img/docs/ua_visa_online.jpg' %}
			{% include './uploader.html' %} -->
			<p>Вам достаточно:</p>
			<ul>
				<li>Загрузить фото на визу онлайн. Снимок вы можете сделать сами или попросить кого-то сфотографировать вас. Оденьтесь соответственно дресс-коду и выберите хорошее освещение.</li>
				<li>Скачать готовое изображение с сервиса и использовать его для подачи на получение визы в Украину.</li>
			</ul>
			<p>Сервис выдаст вам изображение на визу, параметры фото в котором строго соблюдены. Программа учет требования по контрастности, четкости, балансу белого, самостоятельно устранит эффект “красных глаз”, обрежет фотографию до необходимого размера, настроит разрешение, сожмет файл, если потребуется. Снимки с Visafoto принимают в 99,7% случаях!</p>
			<p>Воспользуйтесь нашим сервисом, чтобы за пару секунд сделать качественное фото на визу онлайн.</p>
		</section>
	</main>
</body>
</html>